.App {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  color: black;
}

.App-table {
  text-align: center;
  margin: 60px 20px;
}
.App-table table tbody tr {
  cursor: pointer;
}
